.DS_Store
node_modules
dist
dist-ssr

/cypress/videos/
/cypress/screenshots/
/instrumented
/coverage
.nyc_output

.yarn
yarn.lock
.yarnrc.yml

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.local
LOCAL_NOTES.md

*.log

.gitconfig

.vite-ssg-temp

.yalc

