@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$gutter: 1rem;

@import "primeflex/primeflex.scss";
@import "sass/markdown";

@import "sass/layout";
@import "sass/theme";

a {
  color: #3788d8;
  cursor: pointer;
}
